body {
  font-family: Cantarell, system-ui;
  margin: 50px 100px;
  background-color: rgba(0, 0, 0, 0.75);
  background-image: url("../img/bg.jpg");
  background-blend-mode: multiply;
}

#time {
  color: #f6f4f3;
  font-size: 42px;
  text-align: right;
}

#tiles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin-top: 50px;

  .tile {
    position: relative;
    display: grid;
    padding: 50px 50px;
    max-width: 450px;
    height: 220px;
    justify-items: center;
    align-items: center;
    border-radius: 15px;
    background-color: #f6f4f3;
    box-shadow: none;
    transition: box-shadow 0.25s ease;

    img {
      max-width: 100%;
      max-height: 100%;
      min-height: 75px;
      transition: max-width 0.25s ease;
    }

    .key-hint {
      position: absolute;
      top: 0;
      right: 0;
      padding: 10px 15px;
      background-color: #f6f4f3;
      border-radius: 0 15px 0 0;
      filter: brightness(0.85);
    }

    &:hover,
    &:active,
    &:focus {
      box-shadow: 0 0 15px 5px #ff8c42;

      img {
        max-width: 110%;
      }
    }

    &:active {
      box-shadow: 0 0 15px 5px #ff8c42;
    }
  }

  #sling,
  #pbs-kids {
    img {
      transition: max-height 0.25s ease;
    }
    &:hover,
    &:active,
    &:focus {
      img {
        max-width: 100%;
        max-height: 110%;
      }
    }
  }
}
