---
import Layout from "../layout/base.astro"
import RepositoryList from "../components/repositoryList.astro"
---

<Layout title="Homepage">
  <h1>Robert Starke</h1>
  <h2>Github Repositories</h2>
  <RepositoryList/>
</Layout>
