---
import Layout from "../layout/base.astro";
import RepositoryList from "../components/RepositoryList.astro";
import ProjectList from "../components/ProjectList.astro";
---

<Layout title="Homepage">
  <h1 class="mb-8 text-4xl font-light text-neutral-100">Robert Starke</h1>
  <h2 class="mb-8 text-3xl font-light text-neutral-100">Projects</h2>
  <ProjectList />
  <h2 class="mb-8 text-3xl font-light text-neutral-100">Github Repositories</h2>
  <RepositoryList />
</Layout>
